SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
REDIS_URL=redis://redis:6379/0
DATABASE_URL=postgresql://your_user:your_password@db:5432/your_db
BASE_URL=http://localhost:8000
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=your_db
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
DEBUG=False