# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/

# Environment Variables
.env

# SQLite Database
*.sqlite3

# Celery
celerybeat-schedule
celerybeat-schedule.*

# Tests
.coverage
htmlcov/
pytest-run.log
.pytest_cache/
